# Import and Clean Data

In [29]:
import pandas as pd
import numpy as np

In [42]:
df = pd.read_csv("c971e7e15da8cfe4.csv")

In [43]:
t_2 = df[["date","TCMNOM_Y10"]]
# t_2["TCMNOM_Y10"] = t_2["TCMNOM_Y10"].fillna((t_2["TCMNOM_Y10"].mean()))

In [49]:
t_2.fillna(method='ffill', inplace=True)

/home/abel/.local/lib/python3.6/site-packages/pandas/core/frame.py:3790: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)

In [48]:
t_2

           date  TCMNOM_Y10
0      19800101         NaN
1      19800102       10.50
2      19800103       10.60
3      19800104       10.66
4      19800107       10.63
5      19800108       10.57
6      19800109       10.58
7      19800110       10.51
8      19800111       10.68
9      19800114       10.70
10     19800115       10.65
11     19800116       10.65
12     19800117       10.71
13     19800118       10.82
14     19800121       10.96
15     19800122       10.85
16     19800123       10.82
17     19800124       11.01
18     19800125       11.10
19     19800128       11.15
20     19800129       11.21
21     19800130       11.16
22     19800131       11.13
23     19800201       11.29
24     19800204       11.40
25     19800205       11.73
26     19800206       11.92
27     19800207       11.71
28     19800208       11.80
29     19800211       12.01
...         ...         ...
10111  20181003        3.15
10112  20181004        3.19
10113  20181005        3.23
10114  20181008         NaN
10115  20181009        3.21
10116  20181010        3.22
10117  20181011        3.14
10118  20181012        3.15
10119  20181015        3.16
10120  20181016        3.16
10121  20181017        3.19
10122  20181018        3.17
10123  20181019        3.20
10124  20181022        3.20
10125  20181023        3.17
10126  20181024        3.10
10127  20181025        3.14
10128  20181026        3.08
10129  20181029        3.08
10130  20181030        3.12
10131  20181031        3.15
10132  20181101        3.14
10133  20181102        3.22
10134  20181105        3.20
10135  20181106        3.22
10136  20181107        3.22
10137  20181108        3.24
10138  20181109        3.19
10139  20181112         NaN
10140  20181113        3.14

[10141 rows x 2 columns]